[Desktop Entry]
Type=Application
Name=SysPano
Name[tr]=SysPano Panosu
Comment=System and resource monitor dashboard
Comment[tr]=Sistem ve kaynak izleme panosu
Exec=@KOMUT@
Terminal=false
NoDisplay=true
# Masaüstüne göre oturum açılışı ipuçları
X-GNOME-Autostart-enabled=true
X-KDE-autostart-after=panel
X-KDE-StartupNotify=false
Hidden=false
